name: Mirroring

on:
  push:
    branches-ignore:
      - 'debug-*'

env:
  REPO_URL: "git@github.com:EpitechPromo2025/B-NWP-400-NAN-4-1-myftp-lucas.tesnier.git"

jobs:
  push_to_mirror:
    name: Push to the repository
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: action/checkout@v3
        with:
          fetch-depth: 0
      
      - name: Push
        uses: pixta-dev/repository-mirroring-action@v1
        with:
          target_repo_url:
            ${{ env.REPO_URL }}
          ssh_private_key:
            ${{ secrets.PUBLIC_SSH }}